.header-section {
  background-image: url("../assets/Header-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 541px;
}
.logo-img {
  width: 100%;
  max-width: 417px;
  max-height: 132px;
  height: auto;
  position: relative;
}
@media (min-width: 992px) {
  .text-container {
    max-width: 822px;
  }
}
